<app-navbar-user></app-navbar-user>
<div class="outerLogin">
  <div class="heading">
    <h2>Super Users</h2>
  </div>
  <div class="personDiv">
    <div class="personCard" *ngFor="let person of superPersons">
      <div class="cardTop">
        <img [src]="person.profile_pic" alt="image">
      </div>
      <div class="cardContent">
        <div class="cardHead">
          <div class="personTitle"><b>{{person.first_name}}</b></div>
          <div style="display: flex;align-items: center;">
            <i class="material-icons" style="font-size: 20px;margin-left: 5px;color:#54142c">favorite</i>
            <i class="material-icons" style="font-size: 20px;margin-left: 5px;color:#54142c">person</i>
          </div>
        </div>
        <div class="personContent">{{person.about_me.substring(0,20)}}...</div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>