<app-navbar></app-navbar>
<div class="outerRegister">
  <div class="form">
    <h1>Register</h1>
    <div class="form-group">
      <input type="text" #firstnameInput placeholder="First Name" />
      <input type="text" #lastnameInput placeholder="Last Name" style="margin-left: 10px" />
    </div>
    <input type="text" #usernameInput placeholder="Username" />
    <input type="password" #passwordInput placeholder="Password" />
    <textarea name="" id="" cols="30" rows="5" placeholder="About me"></textarea>
    <button class="registerButton">Register</button>
  </div>
</div>
<app-footer></app-footer>