<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-navbar></app-navbar>
<div class="outerLogin">
  <div class="form">
    <h1>Contact Us</h1>
    <div style="display: flex;justify-content: space-between;width:70%;margin-top: 10px;">
      <div class="contact-group">
        <i class="material-icons" style="font-size: 40px">call</i>
        <h3>Telephone</h3>
        <p>02-201-2222</p>
      </div>
      <div class="contact-group">
        <i class="material-icons" style="font-size: 40px">mail</i>
        <h3>Email</h3>
        <p>Test@test.com</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>