<app-navbar></app-navbar>
<div class="outerLogin">
  <div class="form">
    <i class="material-icons" style="font-size: 100px;color:#54142c ;">favorite</i>
    <h1 style="margin-top: 0;color:#54142c">Login</h1>
    <div class="form-group">
      <input type="text" #usernameInput placeholder="Username" />
    </div>
    <div class="form-group">
      <input type="password" #passwordInput placeholder="Password" />
    </div>
    <button class="loginButton" (click)="loginUser(usernameInput.value,passwordInput.value)">Login</button>
  </div>
</div>
<app-footer></app-footer>