<div class="form">
  <h2>Step 3 Confirm</h2>
  <div style="display: flex;flex-direction: column;align-items: flex-start;" class="formConfirm">
    <!-- <p>Venue : <span class="locationText">{{venue}}</span></p> -->
    <p>Location ID : <span class="locationText">{{location.id}}</span></p>
    <p>Location Name : <span class="locationText">{{location.name}}</span></p>
    <p>Location Price : <span class="locationText">${{location.price}}</span></p>
    <p>Location Address : <span class="locationText">{{location.address}}</span></p>
    <p>Date : <span class="locationText">{{date}}</span></p>
    <p>Time : <span class="locationText">{{time}}</span></p>
  </div>
  <div style="display: flex;justify-content: center;width:100%;padding-bottom: 20px;">
    <button (click)="valueDecrement()">Previous</button>
    <button (click)="valueChanged(location,date,time)">Confirm</button>
  </div>
</div>