<app-navbar-user></app-navbar-user>
<div class="outerLogin">
  <div class="date">
    <h2>Sent Requests</h2>
    <div class="dateCard" *ngFor="let person of persons;let indexOfelement=index">
      <div class=" personImg">
        <img [src]="person.profile_pic" alt="">
      </div>
      <div>{{person.first_name}}</div>
      <div>{{locations[indexOfelement].name}}</div>
      <div>{{dates[indexOfelement].date}}, {{dates[indexOfelement].time}}</div>
      <div>{{dates[indexOfelement].status}}</div>
      <div class="options">
        <i class="material-icons" *ngIf="dates[indexOfelement].status == 'accepted'">favorite</i>
        <i class="material-icons" *ngIf="dates[indexOfelement].status == 'pending'">schedule</i>
        <i class="material-icons" *ngIf="dates[indexOfelement].status == 'declined'">sentiment_very_dissatisfied</i>
      </div>
    </div>
  </div>
  <div class="date">
    <h2>Received Requests</h2>
    <div class="dateCard" *ngFor="let person of personsReceived;let indexOfelement=index">
      <div class=" personImg">
        <img [src]="person.profile_pic" alt="">
      </div>
      <div>{{person.first_name}}</div>
      <div>{{locationsReceived[indexOfelement].name}}</div>
      <div>{{datesReceived[indexOfelement].date}}, {{datesReceived[indexOfelement].time}}</div>
      <div>{{datesReceived[indexOfelement].status}}</div>
      <div class="options">
        <i class="material-icons" (click)="acceptDate(person.id)"
          *ngIf="datesReceived[indexOfelement].status == 'pending'">favorite</i>
        <i class="material-icons" style="margin-left:10px" (click)="declineDate(person.id)"
          *ngIf="datesReceived[indexOfelement].status == 'pending'">delete</i>
        <i class="material-icons" *ngIf="datesReceived[indexOfelement].status == 'accepted'">favorite</i>
        <i class="material-icons"
          *ngIf="datesReceived[indexOfelement].status == 'declined'">sentiment_very_dissatisfied</i>

      </div>
    </div>

  </div>
</div>