<app-navbar-user></app-navbar-user>
<div class="banner">
  <!-- <img src="sunrise.jpg" alt=""> -->
</div>
<div class="profilePicDiv">
  <img [src]="profile.profile_pic" alt="">
</div>
<div>
  <h2 class="userName">{{profile.first_name}} {{profile.last_name}}</h2>
</div>
<div class="outerLogin">
  <div style="width:80%">
    <div style="width: 60%;text-align: right;margin-bottom: 20px;">
      <button class="statusButton">{{statusDisplay}}</button>
    </div>
  </div>
  <div class="outerMyImages">
    <div class="myImages">
      <div class="imageCard">
        <img src="../../assets/persons/mia.jpg" alt="">
      </div>
      <div class="imageCard">
        <img src="../../assets/persons/polly.jpg" alt="">
      </div>
      <div class="imageCard">
        <img src="../../assets/persons/sally.jpg" alt="">
      </div>
      <div class="imageCard">
        <img src="../../assets/persons/sarah.jpg" alt="">
      </div>
    </div>
    <hr style="margin-top: 30px;">
    <section class="about">
      <div class="aboutMe">
        <h2>About Me</h2>
        <div class="userType">
          <p>{{profile.user_type.charAt(0).toUpperCase()+ profile.user_type.slice(1)}} user</p>
        </div>
      </div>
      <div class="aboutBox">
        <div>{{profile.about_me}}</div>
      </div>
      <div class="totalHearts">
        <h3>Total Hearts : {{profile.total_hearts}}</h3>
        <div style="display: flex;">
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
        </div>
      </div>
      <div class="feedback">
        <div class="comment">
          Comment..
        </div>
        <div class="hearts" style="display: flex;">
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
        </div>
      </div>
      <div class="feedback">
        <div class="comment">
          Comment..
        </div>
        <div class="hearts" style="display: flex;">
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
        </div>
      </div>
      <div style="text-align:right;margin-top: 20px;">
        <button (click)="toHome()">Back
        </button>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>