<div class="form">
  <h2>Step 2 Select Venue</h2>
  <div>
    <div class="form-group">
      <label for="existingVenue">Select from existing venues</label>
      <select name="selectVenue" #existingVenueInput (change)="onChange($event.target.value)">
        <option *ngFor="let oldVenue of oldVenues;let i = index" [value]="oldVenue.id">{{oldVenue.category}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label style="margin: 10px 0;">Locations for this Venue</label>
      <div class="locationsPerVenue">
        <div class="locationCard" *ngFor="let location of selectedLocations;let indexOfelement=index"
          (click)="selectedDestination(location,indexOfelement)" [ngClass]="{'green':selected[indexOfelement]}">
          <div class="locationImage">
            <img [src]="location.image" alt="">
          </div>
          <div class="description"><b>{{location.name}}</b></div>
          <div class="description"><b>${{location.price}}</b></div>
          <address class="description">{{location.address}}</address>
        </div>
      </div>
    </div>
    <div style="display: flex;justify-content: center;width:100%">
      <button (click)="valueDecrement()">Prev</button>
      <button (click)="valueChanged()">Next</button>
    </div>
  </div>
</div>