.outerLogin {
  display: flex;
  /* align-items: center; */
  padding-top: 120px;
  padding-bottom: 50px;
  justify-content: center;
  min-height: 85vh;
  height: max-content;
  font-family: sans-serif;
  color: rgb(148, 141, 141);
  background-image: linear-gradient(to right, white, #8b5b6d);
}
.userName {
  position: absolute;
  bottom: 250px;
  left: 380px;
  font-size: 40px;
  font-family: sans-serif;
  color: rgb(148, 141, 141);
}
.banner {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to right, white, rgb(231, 231, 207));
  position: relative;
}
.profilePicDiv {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: grey;
  bottom: 150px;
  left: 100px;
  z-index: 20;
  overflow: hidden;
  border: 10px solid #54142c;
  box-sizing: border-box;
}
.profilePicDiv img {
  width: 100%;
  height: 100%;
}
.changeProfilePicButton {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.enterNewPic {
  position: absolute;
  bottom: 80px;
  right: 10px;
  display: flex;
}
.enterNewPic input {
  width: 120px;
}
.changeBanner {
  position: absolute;
  bottom: 60px;
  right: 10px;
}
.banner:after {
  text-align: center;
  padding: 10px;
  content: "<3";
  width: 100%;
  height: 20px;
  background: #54142c;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.65);
}
.banner img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.outerMyImages {
  width: 80%;
}
.myImages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
  grid-column-gap: 10px;
}
.imageCard {
  width: 1fr;
  height: 150px;
  /* border-radius: 10px; */
  overflow: hidden;
  position: relative;
  border: 10px solid #54142c;
  box-sizing: border-box;
}
.imageCard button {
  z-index: 100;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.imageCard img {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.about {
  width: 60%;
  align-self: flex-end;
}
.aboutMe {
  display: flex;
  justify-content: space-between;
}
.aboutBox {
  height: 200px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  /* background-color: rgb(255, 255, 235); */
  background: rgb(255, 249, 249);
  /* border-radius: 5px; */
  position: relative;
  padding: 30px;
  border: 10px solid #54142c;
  box-sizing: border-box;
}
.aboutBox textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  position: relative;
}
.aboutBox .changeAboutButton {
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.editButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
button {
  background: #54142c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}
button:hover {
  background-color: #b9a5ad;
  cursor: pointer;
}
.userType {
  display: flex;
  align-items: center;
}
.totalHearts {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedback {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100px;
  padding: 0 20px 0 0;
  margin-top: 10px;
  background: rgb(255, 249, 249);
  /* border-radius: 5px; */
  border: 10px solid #54142c;
  box-sizing: border-box;
}
.comment {
  display: flex;
  align-items: center;
}
.feedbackComment {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.feedbackComment img {
  width: 100%;
  height: 100%;
}
