<app-navbar-user></app-navbar-user>
<div class="banner">
  <img src="sunrise.jpg" alt="">
</div>
<div class="profilePicDiv">
  <img src="../../assets/persons/mia.jpg" alt="">
</div>
<div>
  <h2 class="userName">Mia Thermopolis</h2>
</div>
<div class="outerLogin">
  <div class="outerMyImages">
    <div class="myImages">
      <div class="imageCard">
        <img src="../../assets/persons/mia.jpg" alt="">
        <button>Change</button>
      </div>
      <div class="imageCard">
        <img src="../../assets/persons/polly.jpg" alt="">
        <button>Change</button>
      </div>
      <div class="imageCard">
        <img src="../../assets/persons/sally.jpg" alt="">
        <button>Change</button>
      </div>
      <div class="imageCard">
        <img src="../../assets/persons/sarah.jpg" alt="">
        <button>Change</button>
      </div>
    </div>
    <hr style="margin-top: 30px;">
    <section class="about">
      <div class="aboutMe">
        <h2>About Me</h2>
        <div class="userType">
          <p>User Type</p>
          <button style="margin-left: 10px;">Update</button>
        </div>
      </div>
      <div class="aboutBox">
        <button class="editButton">Edit</button>
      </div>
      <div class="totalHearts">
        <h3>Total Hearts : 100</h3>
        <div style="display: flex;">
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
        </div>
      </div>
      <div class="feedback">
        <div class="comment">
          Comment..
        </div>
        <div class="hearts" style="display: flex;">
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
        </div>
      </div>
      <div class="feedback">
        <div class="comment">
          Comment..
        </div>
        <div class="hearts" style="display: flex;">
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
          <i class="material-icons" style="font-size: 30px;color:#54142c ;">favorite</i>
        </div>
      </div>
    </section>



  </div>

</div>
<app-footer></app-footer>